
<h1>ToDo App</h1>

    <table>
        <th>To Do Lists</th>
    {% for item in all_items %}

    <tr>
    
        <td >{{item.content}}</td>
        <td >
            <form action="/deletetodo/{{item.id}}/" method="post" style = "display: inline;">{%csrf_token%}          
            <input type="submit" value="Delete"/>
        
        </form>
        </td>
    
    {%endfor%}
    </tr>
    </table>
<h4>Add To Do</h4>
<form action="/addtodo/" method="post">{%csrf_token%}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>

</form>